<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="listaTelefonica">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Lista Telefônica</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" href="css/uiAlert.css"/>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular/angular-messages.js"></script>
        <script src="lib/angular/angular-route.js"></script>
        <script src="lib/uiUtils/uiUtils.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/listaTelefonicaController.js"></script>
        <script src="js/services/contatosAPIService.js"></script>
        <script src="js/config/routeConfig.js"></script>
        <script src="js/value/configValue.js"></script>
        <script src="js/filters/nameFilter.js"></script>
        <script src="js/filters/ellipsisFilter.js"></script>
        <script src="js/directives/uiAlertDirective.js"></script>
        <script src="js/directives/uiDateDirective.js"></script>
        <script src="js/directives/uiTelefoneDirective.js"></script>
    </head>
    <body>

        <header class="main-header">
            <h2>Lista Telefônica</h2>
        </header>

        <div ng-view=""> 
        </div>
        
        <section ng-controller="listaTelefonicaController" class="main-content">

            <div ng-if="errorContatos">
                <ui-alert title="Ops, houve um problema!" message="errorContatos">
                </ui-alert>
            </div>

            <div ng-if="contatos.length == 0">
                <i>Nenhum contato adicionado no momento</i>
            </div>

            <article class="panel panel-primary">
                <header class="panel-heading">
                    Seus Contatos
                </header>
                <section class="panel-body">
                    <article class="form-group">
                        <input type="text" ng-model="pesquisaDeContato" class="form-control" placeholder="O que você está procurando?"/>
                    </article>

                    <table class="table" ng-show="contatos.length > 0">
                        <thead>
                            <tr>
                                <th></th>
                                <th><a href="" ng-click="ordernarPor('nome')"><strong>Nome</strong></a></th>
                                <th><a href="" ng-click="ordernarPor('telefone')"><strong>Telefone</strong></a></th>
                                <th><a href="" ng-click="ordernarPor('operadora.nome')"><strong>Operadora</strong></a></th>
                                <th><a href="" ng-click="ordernarPor('data')"><strong>Data</strong></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contato in contatos| filter: pesquisaDeContato | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" ng-class="{selecionado: contato.selecionado}">
                                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                                <td>{{contato.nome| namePerson | ellipsis: 15}}</td>
                                <td>{{contato.telefone}}</td>
                                <td>{{contato.operadora.nome}}</td>
                                <td>{{contato.data| date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-click="remover(contatos)" ng-disabled="!isContatoSelecionado(contatos)" class="btn btn-danger btn-block">Remover Contatos</button>
                </section>

            </article>

            <article class="panel panel-primary">
                <header class="panel-heading">
                    Adicionar Contato
                </header>
                <section class="panel-body">
                    <form name="contatoForm">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Digite um nome" ng-required="true" ng-minLength="3"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="contato.telefone" ui-telefone="" name="telefone" placeholder="Digite o telefone" ng-pattern="/^\(\d{2}\)\d{4,5}-\d{4}$/" ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="contato.operadora" name="operadora" ng-options="operadora.nome for operadora in operadoras" ng-required="true">
                                <option value="">Selecione uma operadora</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="contato.data" name="data" ui-date="" placeholder="Digite uma data" ng-required="true"/>
                        </div>
                        
                        <div ng-show="contatoForm.nome.$error.required &#38;&#38; contatoForm.nome.$dirty" class="alert alert-danger">
                            Por favor, preencha o nome.
                        </div>
                        <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
                            Por favor, preencha um nome com no mínimo 3 letras.
                        </div>
                        <div ng-show="contatoForm.telefone.$error.required &amp;&amp; contatoForm.telefone.$dirty" class="alert alert-danger">
                            Por favor, preencha o telefone.
                        </div>
                        <div ng-show="contatoForm.telefone.$error.pattern &amp;&amp; contatoForm.telefone.$dirty" class="alert alert-danger">
                            Por favor, preencha o telefone no formato (DD)DDDD-DDDD.
                        </div>
                        <div ng-show="contatoForm.operadora.$invalid &amp;&amp; contatoForm.operadora.$dirty" class="alert alert-danger">
                            Por favor, preencha a operadora.
                        </div>
                        <div ng-show="contatoForm.data.$invalid &amp;&amp; contatoForm.data.$dirty" class="alert alert-danger">
                            Por favor, preencha a data.
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid"  ng-click="adicionar(contato)">Adicionar Contato</button>
                        </div>
                    </form>
                </section>
            </article>

            <ui-accordions>
                <ui-accordion title="Accordion 1">
                    <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </ui-accordion>
                <ui-accordion title="Accordion 2">
                    <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </ui-accordion>
            </ui-accordions>

        </section>

    </body>
</html>
